node_modules
package-lock.json
app/**/*.js
app/**/*.js.map
css/style.css
app/templates/*.tpl

assets/unix/
firefox_root/
unix_app/build
unix_app/main.core
unix_app/main.sublime-project
unix_app/main.sublime-workspace
unix_app/make